.tablerow {
  animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.5s; /* don't forget to set a duration! */
}
.table {
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}
.table-responsive {
  height: 80vh; //web
  // height:600px; // desktop
  overflow-y: scroll;
}
.table-responsive::-webkit-scrollbar {
  display: none;
}
