#profilepic {
  text-align: middle;
  font-weight: bold;
  height: 230px;
  border: 1px solid grey;
  border-radius: 10px;
  object-fit: contain;
}
.imagebutton {
  position: absolute;
  top: 69%;
  left: 15%;
  width: 180px;
}
span {
  font-size: 11px;
}
