<div class="modal-header">
    <h3>
        <span *ngIf="status!=modalstatus.NEW">
            <bi name="person"></bi> {{owner.name}}
        </span>
        <span *ngIf="status==modalstatus.NEW">
            <bi name="archive"></bi> New Vault
        </span>
    </h3>

    <div class="d-flex justify-content-end">
        <button class="btn mr-2" [ngClass]="{'btn-info':clickbutton==0,'btn-outline-info':clickbutton==1}"
            (click)="tab(0)">
            <bi name="info-circle"></bi> Basic Info
        </button>
        <button class="btn  " [ngClass]="{'btn-info':clickbutton==1,'btn-outline-info':clickbutton==0}"
            (click)="tab(1)">
            <bi name="geo"></bi> Location
        </button>
    </div>
</div>
<div class="modal-body">

    <div class="row mt-2" *ngIf="clickbutton==0">
        <div class="col-8 ">
            <img class="view" [src]="boneData.voltimg" alt="Click to select"
                onclick="document.getElementById('selectedImage').click();" name="voltimg" id="voltimg">
            <input [disabled]="status==modalstatus.VIEW" type="file" #file id="selectedImage" accept='image/*'
                style="display: none;" (change)="uploadVoltImage(file.files)">
        </div>
        <div class="col-4 card">
            <div class="form-group">
                <label for="price">Price</label>
                <input [disabled]="status==modalstatus.VIEW" type="text" class="form-control" name="price" id="price"
                    [(ngModel)]="boneData.price" currencyMask [options]="options">
                <label for="phase">Phase</label>
                <select [disabled]="status==modalstatus.VIEW" class="form-control form-control-sm" name="phase"
                    id="phase" [(ngModel)]="boneData.phase_id">
                    <option *ngFor="let phase of phaseList" [value]="phase.id" [label]="phase.name"> </option>
                </select>
                <label for="col">Column</label>
                <input [disabled]="status==modalstatus.VIEW" type="number"
                    class="form-control form-control-sm text-right" name="column" id="column"
                    [(ngModel)]="boneData.col">
                <label for="block">Volt</label>
                <input [disabled]="status==modalstatus.VIEW" type="text" maxlength="1"
                    class="form-control form-control-sm text-right" name="volt" id="volt" [(ngModel)]="boneData.volt">
                <div *ngIf="status==modalstatus.UPDATE">
                    <label for="owner">Current Owner</label>
                    <div class="input-group input-group-sm">
                        <input [disabled]="status==modalstatus.VIEW" type="text" class="form-control " name="owner"
                            placeholder="Current Owner" aria-label="Current Owner" [(ngModel)]="owner.name"
                            aria-describedby="btn-currnentowner">
                        <div class="input-group-append">
                            <button *ngIf="owner.name==''||owner.name==undefined"
                                class="btn btn-outline-secondary btn-sm pb-0" type="button" id="btn-currnentowner"
                                (click)="getCurrentOwner()">
                                <bi name="search"></bi>
                            </button>
                            <button *ngIf="owner.name!=undefined" class="btn btn-outline-danger btn-sm pb-0"
                                type="button" id="btn-currnentowner" (click)="remove(boneData)">
                                <bi name="trash"></bi>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2" *ngIf="clickbutton==1">

    </div>
</div>

<div class="modal-footer">
    <div class="modal-body">
        <div class="d-flex justify-content-end">
            <button class="btn btn-danger mr-2" (click)="cancel()">Cancel</button>
            <button *ngIf="status==modalstatus.UPDATE||status==modalstatus.NEW" class="btn btn-success"
                (click)="save()">Save</button>
        </div>
    </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>